# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/hrepo_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hrepo_db
DB_USER=user
DB_PASSWORD=password

# FastAPI Configuration
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Hunter.io API Configuration
HUNTER_API_KEY=your_hunter_api_key
HUNTER_BASE_URL=https://whoru.top/v2

# Redis Configuration (for Celery)
REDIS_URL=redis://localhost:6379/0

# LLM API Configuration
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=openai_model
OPENAI_MAX_TOKENS=8000
OPENAI_BASE_URL=openai_base_url
OPENAI_TEMPERATURE=0.7


# OSS/MinIO Configuration
OSS_ENDPOINT_URL=http://localhost:9000
OSS_ACCESS_KEY=minioadmin
OSS_SECRET_KEY=minioadmin
OSS_BUCKET_NAME=hrepo-uploads

# Application Configuration
DEBUG=True
HOST=0.0.0.0
PORT=8000

JWT_SECRET=524e3ddae433d31ad8aec36973c467b501ccdce344d1f5fe5886e8c88ae0f7be
